---
profile: true
permalink: music/
---

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/audio.css">
<script src="{{ site.baseurl }}assets/js/audiojs/audio.min.js"></script>
<script>
  var a = audiojs;
  a.events.ready(function() {
    var a1 = a.createAll();
  });
</script>

Не помню дня, когда писал код без музыки. А качественная музыка позволяет работать продуктивнее, параллельно перенося вас в далекие тихие уголки вашего подсознания. Друзья, на данной странице я выкладываю музыку, которую сам с удовольствием переслушиваю раз за разом.

<br><br>
<a href="http://kolber.github.io/audiojs/demos/test6.html">Плейлисты сделать так! Для каждого отдельно!</a>
<br><br>

<h3>PromoDJ podcasts</h3>

<ul id="playlist">
{% for track_hash in site.data.music.promodj %}
{% assign track = track_hash[1] %}

	<li>
		<audio src="{{ track.source }}" preload="auto"></audio>
	    <div class="track-details">
	      <span class="title vtop">{{ track.title }}</span><span class="vtop"> <em>by</em> {{ track.author }}</span>
	    </div>
	</li>
	

{% endfor %}
</ul>

{% include footer.html %}