<script>
    window.addEventListener('player_init', function () {
        init_audio_player('{{ include.player_id }}');
    });
</script>

<div class="player-wrapper">
    <audio id="audio_{{ include.player_id }}" preload></audio>
    <ol class="playlist" id="{{ include.player_id }}">
        {% for track_hash in include.records %}
        {% assign track = track_hash[1] %}
        <li>
            <a class="cplay" href="#" data-src="{{ track.source }}">{{ track.author }} - {{ track.title }}</a>
            <span>[<a href="{{ track.url }}" target="_blank">resource</a>]</span>
        </li>
        {% endfor %}
    </ol>
</div>