---
layout: default
archive: true
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}#<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        {{content}}
    </section>
</article>
<footer id="post-meta" class="clearfix">
    {% if post.resource %}
        <p class="source">Данный материал взят <a href="{{ post.resource }}">отсюда</a> с целью сохранения его в случае удаления с источника.</p>
    {% endif %}
    {% if post.copy %}
        <p class="copy">Вниманию правообладателей: данная страница является по большей части личной. Все аудиоматериалы на ней с Вашего соглашения на сайте <a href="{{ post.copy.url }}">{{ post.copy.source }}</a> находятся в открытом доступе. Если Вы считаете, что ваша музыка не может присутствовать в моем плейлисте - <em><u>прошу Вас связаться со мной для устранения данного непорядка</u></p>
    {% endif %}
    <p>{{ tags_content }}</p>
    <a href="http://twitter.com/{{ site.author.twitter }}">
        <img class="avatar" src="{{ site.baseurl }}assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author.name }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Комментарии</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Куда дальше?!...</h3>
        {% for post in site.posts %}
            {% if page.path != post.path %}
                <li>
                    <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}



